<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="faceNiMiPU" transaction-type="JTA">
    <jta-data-source>java:app/facejndi</jta-data-source>
    <class>bean.Aime</class>
    <class>bean.Blocage</class>
    <class>bean.Commentaire</class>
    <class>bean.Contenu</class>
    <class>bean.DroitAcces</class>
    <class>bean.Emploi</class>
    <class>bean.EmploiItem</class>
    <class>bean.Etablissement</class>
    <class>bean.EtablissementItem</class>
    <class>bean.Groupe</class>
    <class>bean.GroupeAdmin</class>
    <class>bean.GroupeItem</class>
    <class>bean.Invitation</class>
    <class>bean.Lieu</class>
    <class>bean.Message</class>
    <class>bean.MessageItem</class>
    <class>bean.Notification</class>
    <class>bean.NotificationItem</class>
    <class>bean.Photo</class>
    <class>bean.Publication</class>
    <class>bean.SignalPublication</class>
    <class>bean.SignalUser</class>
    <class>bean.User</class>
    <class>bean.Videos</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
